* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;

}

/* Navigation bar */

.nav-bar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

.nav-bar .Logo {
    font-size: 30px;
    font-weight: 700;
}

.nav-tags ul li {
    display: inline-flex;
    margin-right: 30px;
    font-weight: 500;
}


/* Home page */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    cursor: default;
}

.home img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(69, 69, 250);
    animation: FloatImage 4s ease-in-out infinite;
    transition: 0.4s;
    cursor: pointer;
    margin-right: 50px;
}

.profile-img:hover {
    box-shadow: 0 0 25px rgb(69, 69, 250), 0 0 35px rgb(69, 69, 250), 0 0 45px rgb(69, 69, 250);
}

@keyframes FloatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

.content {
    text-align: left;
    color: white;

    h3 {
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 3px;
    }

    h1 {
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 3px;
    }

    p {
        text-wrap: wrap;
    }
}

.icons {
    margin-top: 10px;

    .bttn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 2px solid rgb(69, 69, 250);
        background: transparent;
        color: rgb(69, 69, 250);
        margin: 7px 5px;
        transition: 0.3s;
        
    }

    .bttn i{
        font-size: 20px;
        cursor: pointer;
    }

    .bttn:hover {
        transform: scale(1.1) translateY(-10px);
        background-color: rgb(69, 69, 250);
        color: white;
        box-shadow: 0 0 25px rgb(69, 69, 250);
    }

    button {
        background-color: rgb(69, 69, 250);
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        font-size: 15px;
        margin-left: 25%;
        cursor: pointer;

    }

    button:hover {
        box-shadow: 0 0 25px rgb(69, 69, 250);

    }
}

/* About Page */

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    cursor: default;
    color: white;

    h1 {
        font-size: 40px;
        font-weight: 500;

    }

    h3 {
        font-size: 25px;
        font-size: 500;
        margin-bottom: 10px;
    }

    p {
        width: 35vw;
    }

    button {
        padding: 10px 20px;
        border-radius: 20px;
        background-color: rgba(65, 65, 250);
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 30px;
    }

    button:hover {
        box-shadow: 0 0 25px rgba(65, 65, 250);
    }


}

img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    cursor: default;
    transition: 0.3s;
}

img:hover {
    box-shadow: 0 0 25px rgba(65, 65, 250), 0 0 35px rgba(65, 65, 250), 0 0 45px rgba(65, 65, 250);
}

/* Services Page */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
    cursor: default;
}

.section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
}


i {
    font-size: 50px;
}

.section .one {

    width: 30vh;
    background-color: white;
    height: fit-content;
    color: black;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(65, 65, 250);

    p {
        margin-top: 10px;
    }


}

.section .two{
    width: 30vh;
    background-color: white;
    height: fit-content;
    color: black;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(65, 65, 250);

    p {
        margin-top: 10px;
    }


}
.section .three{
    width: 30vh;
    background-color: white;
    height: fit-content;
    color: black;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(65, 65, 250);

    p {
        margin-top: 10px;
    }


}

.section .one:hover,
.section .two:hover,
.section .three:hover {
    box-shadow: 0 0 25px rgba(65, 65, 250), 0 0 35px rgba(65, 65, 250), 0 0 45px rgba(65, 65, 250);
    transform: scale(1.1) translateY(10px);


}

.section button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(65, 65, 250);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    cursor: pointer;
}




/* Contact page */

.contact {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;

    h1 {
        margin-bottom: 100px;
        font-size: 50px;
    }

    button {
        padding: 10px 20px;
        border-radius: 20px;
        background-color: rgba(65, 65, 250);
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 30px;
        cursor: pointer;
    }

    button:hover {
        box-shadow: 0 0 25px rgba(65, 65, 250);
    }
}

.contact-section {
    display: flex;
    flex-direction: column;

}

.input-tags {
    display: grid;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr); */
    grid-template-areas: "fname email"
        "number subject"
        "textarea textarea";
    gap: 5px 5px;
    border: none;
}

.input-tags input {
    width: 25vw;
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(65, 65, 250);
    background: transparent;
    color: white;


}

.fname {
    grid-area: fname;
}

.email {
    grid-area: email;
}

.number {
    grid-area: number;
}

.subject {
    grid-area: subject;
}

#textarea {
    grid-area: textarea;
}

textarea {
    /* width: min(50vw, 806px); */
    resize: none;
    height: 20vh;
    margin: 10px 0;
    border-radius: 10px;
    border-color: rgba(65, 65, 250);
    background: transparent;
    padding: 10px;
    color: white;

}

input::placeholder,
textarea::placeholder {
    color: white;
    font-size: 20px;
    opacity: 0.5;
}

footer {
    position: fixed;
    bottom: 5px;
    left: 0;
    text-align: center;
    font-size: 10px;
    color: white;
    background: transparent
}

/* @media only screen and (max-width:700px){

    .nav-bar{
        width: 100vw;
    }
     
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: green;
    }
} */